body {
    background-color: #fff;
    margin: 0px;
    overflow: hidden;
}

button {
    margin-top: 30px;
    margin-left: 600px;
    width: 200px;
    height: 40px;
    background-color: green;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}